* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* UTILITY */

.row {
    width: 100%;
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.btn-blu {
    padding: 10px;
    background-color: #2E7DFF;
    border: #2E7DFF;
    color: white;
    font-size: 20px;

}

/* HEADER */

header {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.header-col-50 {
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.header-col-50 img {
    width: 150px;
}

.header-col-50 h2 {
    margin: 0 30px;
    font-weight: normal;
    font-size: 20px;
}

.header-col-50 .btn-blu {
    width: 80px;
}

/* MAIN */

main {
    margin-top: 75px;
}

/* SECTION 1 */

.section1 {
    background-color: #B4D0E7;
    position: relative;
}

.container-section1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.col-100 h1 {
    font-size: 70px;
    margin: 30px 0;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.col-30 p {
    font-size: 20px;
    margin: 20px 0;
}

.col-30 i {
    font-size: 70px;
}

.col-70 img {
    width: 100%;
    position: relative;
    top: 60px;
}