* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* UTILITY */

section {
    margin-top: 75px;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

.col-100 h1 {
    font-size: 70px;
    margin: 30px 0;
}

.col-30 p {
    font-size: 20px;
    margin: 20px 0;
}

.col-70 p {
    font-size: 15px;
    padding: 20px 0;
}

.row {
    width: 100%;
    display: flex;
}

.felx-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.container-50 {
    width: 50%;
    margin: 0 auto;
}

.btn-blu {
    padding: 10px;
    background-color: #2E7DFF;
    border: #2E7DFF;
    color: white;
    font-size: 15px;

}

.border-column {
    padding: 20px;
    border: 2px solid lightgray;
}

.fa-check {
    color: #2E7DFF;
}

hr {
    width: 30%;
    color: rgb(177, 174, 174);
    margin: 20px;
}


.content-column {
    min-height: 800px;
}

.text-end {
    text-align: end;
}


/* HEADER */

header {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: white;
}

.header-col-50 {
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.header-col-50 img {
    width: 150px;
}

.header-col-50 h2 {
    margin: 0 30px;
    font-weight: normal;
    font-size: 20px;
}

.header-col-50 .btn-blu {
    width: 80px;
}

/* MAIN */


/* SECTION 1 */

.section1 {
    background-color: #B4D0E7;
    position: relative;
}

.container-section1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.col-30 .arrow {
    font-size: 70px;
}

.col-70 .position-img {
    width: 100%;
    position: relative;
    top: 60px;
}

/* SECTION2 */

.col-100 h2 {
    font-size: 50px;
    margin: 30px 0;
}

.input-radio {
    font-size: 20px;
    font-weight: bold;
}

.input-radio label {
    margin: 0 20px;
}

.headers-column {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 0;
}

.content-column ul {
    list-style-type: none;
}

.content-column li {
    margin: 20px;
    font-size: 15px;
}

.content-column span {
    color: rgb(128, 127, 127);
}

/* SECTION3 */